body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chamada__container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chamada__container {
    animation: animate-background 30s ease-in-out infinite;
}

@keyframes animate-background {
    0%,100% {
        background: url(img/cadastro/women.jpg), rgba(0, 0, 0, 0.60) no-repeat center;
        background-blend-mode: overlay; /*para sobrepor a cor acima em cima do bg selecionado)*/
        background-size: 100%;
    }

    35% {
        background: url(img/cadastro/men.jpg), rgba(0, 0, 0, 0.60) no-repeat center;
        background-blend-mode: overlay; /*para sobrepor a cor acima em cima do bg selecionado)*/
        background-size: 105%;
    }

    70% {
        background: url(img/cadastro/people.jpg), rgba(0, 0, 0, 0.60) no-repeat;
        background-blend-mode: overlay; /*para sobrepor a cor acima em cima do bg selecionado)*/
        background-position-y: 50%;
        background-size: 100%;
    }
}

.slide-cadastro {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slide-cadastro div {
    width: 50%;
}

.titulo-chamada {
    color: #fff;
}

#btn-cadastre {
    margin-top: 10%;
    width: 35%;
}