.article__container {
    opacity: 1;
    pointer-events: auto;
}

.article__container-hidden {
    opacity: 0;
    pointer-events: none;
}

#modal-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#modal-content {
    width: 200%;
}
